.item {
  font-size: 18px;
}

.postBlock{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.postBlock button{
  border-color: #149e6e;
  box-shadow: 0 0 40px 40px #149e6e inset, 0 0 0 0 #149e6e;
  /* transition: all 150ms ease-in-out; */
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  outline: none;
  transition: all .5s;
}

.postBlock button:hover{
 box-shadow: 2px 5px 12px #149e6e;
 color: #149e6e;

 transform: translateY(-1px);
}

.postBlock button:active{
 transform: translateY(2px);
}

.postBlock textarea{
  width: 40%;
   resize: none;
  border: solid 1px #149e6e75;
  border-radius: 5px;
  box-shadow: 2px 2px 15px #6dc2a4;
  outline: none;
  font-family: 'Poppins';
  color: #083f2c;
  font-weight: 500;
  padding: 5px;
}
