.img_container{
  height: 300px;
  overflow: hidden;
  border-radius: 3px;
}

.img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.descriptionBlock{
    padding: 10px;
}

.user_avatar{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: -70px;
  box-shadow: 2px 3px 18px #0b412e;
}
