@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@300;400;500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
  font-weight: 500;
}

.app-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
  grid-template-areas:
    "header header"
    "nav main";
}

.app-wrapper-content {
  grid-area: main;
  background:#52ff9457;
  border-radius: 3px;
}




