.nav{
  height: 100%;
  grid-area: nav;
  background: #149e6e; 
  padding-top: 20%;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 3px;
}

.link a:focus {
  color: #c6ffdc;
}

.link a {
  color: white;
}